*
{
	margin: 0;
	padding: 0;
	font-family: Helvetica;
}

#header
{
	height: 100px;
	width: auto;
	background-color: #60C566;
	border-bottom: 10px solid #BAF2BF;

}

.logo
{
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: 40px;
	line-height: 100px;
	padding-left: 50px;
}

input, textarea
{
	width: 300px;
	font-size: 18px;
	padding: 10px;
	border: none;
	background-color: #EFEFEF;
}

input:focus
{
	outline: none;
}

.button
{
	display: inline-block;
	color: white;
	width: 100px;
	font-size: 25px;
	font-weight: bold;
}

.button:hover
{
	background-color: #438346;
}