{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %} {% endblock %}</title>
	<link type = 'text/css' rel = 'stylesheet' href='{% static "css/base.css" %}'>
	<style>
		.menu .selected a
		{
			color: #316E38;
		}
	</style>
</head>
<body>
	<div id = 'header'>
		<span>
			<a class = "logo" style="text-decoration: none;"
			href = '{% url "home:home" %}'>
				Bookmarks
			</a>
		</span>
		{% if request.user.is_authenticated %}
			<span> <ul class = 'menu'>
				<li {% if section == 'dashboard' %}class = 'selected'{% endif %}>
					<a href="{% url 'account:dashboard' %}">My Dashboard</a></li>

				<li {% if section == 'images' %}class = 'selected'{% endif %}>
					<a href="{% url 'account:dashboard'%}">Images</a></li>

				<li {% if section == 'people' %}class = 'selected'{% endif %}>
					<a href="{% url 'account:dashboard'%}">People</a></li>
			</ul>
		</span>

		<span class = 'menu' style = 'margin-left: 150px;'>
				<li>Hello, {{request.user.first_name}}</li>
				<li><a href = '{% url "account:logout" %}'>Logout</a></li>
		</span>
		{% else %}
			<span class = 'something'>{% block something %} {% endblock %}</span>
		{% endif %}
	</div>
	<div id = 'content'>
		{% if messages %}
			<div class = 'mess'>
				{% for mess in messages %}
					<p>{{mess}}</p>
				{% endfor %}
			</div>
		{% endif%}
		{% block content %} {% endblock %}
	</div>
</body>
</html>