{% extends 'base-home.html' %}

{% block title %}
	Home - Bookmarks
{% endblock %}

{% block bar%}
{% if request.user.is_authenticated %}

	<div id = 'button'>
		<span class = 'container'>
			Hello, {{ request.user.first_name }}
			<ul>
				<li><a href = "{% url 'account:dashboard'%}">My dashboard</a></li>
				<li><a href = '.'>People</a></li>
				<li><a href = '.'>Images</a></li>
				<li><a href = '{%url "account:password_change"%}'>Change password</a></li>
				<li><a href = "{% url 'account:logout' %}">Logout</a></li>
			</ul>
		</span>
	</div>
{% else %}
	<div id = 'button'>
			<span><a href= '{% url "account:login" %}'>Login</a></span>
			<span><a href = "{% url 'account:register'%}">Sign Up</a></span>
	</div>
{% endif %}
{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}

{% else %}
	<div style="background-color: #EFEFEF; opacity: 0.8; padding: 40px; margin-top: 100px; ">
		 <h1 style = 'width: 700px;
					  margin: 10px 250px;
					  margin-bottom: 10px;
					  color: white; 
					  font-size: 100px;
					  text-shadow: 1px 2px 4px black, -1px -2px 4px black'>Join me now</h1>

		<h3 style = 'width: 700px;
					  margin: 10px 400px; 
					  color: white; 
					  font-size: 30px;
					  text-shadow: 1px 2px 4px black, -1px -2px 4px black'>
					  Sign up free now to join us today</h3>
{% endif %}
</div>
{% endblock %}