{% extends 'base.html' %}


{% block title %}
	Login
{% endblock %}


{% block content %}
<div style="height: auto; width: 400px; margin: 50px auto;">
	<h1 style=" border-bottom: 1px solid grey; padding-bottom: 30px; ">Login</h1>
	<div style="padding: 30px">
		<form method = 'POST' >
			{% csrf_token %}
			{% for i in form %}
				{{i.errors}}
				<p style="padding: 8px; font-size: 20px;"> {{i.label_tag}}</p>
				<p style="padding: 8px; font-size: 20px;"> {{i}} </p>
			{% endfor %}
			<input type="submit" value = 'LOG-IN' 
			style=" padding: 10px;
					color: white;
					background-color: #60C566;
					font-size: 16px;
					margin: 20px;
					margin-left: 15px;
					font-weight: bold;
					border-radius: 10px">
		</form>
	</div>
	<div {% if mess %} class = 'errors' {% endif %}>
		<p>{{mess}}</p>
	</div>
</div>


{% endblock %}