{% extends 'base.html' %}

{% block title %}
	Log-out
{% endblock %}


{% block something %}
<span class = 'button'> <a href = '{% url "account:login" %}'>Login</a></span>
{% endblock %}

{% block content %}
<div style="margin: 100px; ">
	<h1 style=" border-bottom: 1px solid grey; padding-bottom: 30px; ">Logged out</h1>
	<p style="font-size: 18px; margin-top: 30px">
		You have been successfully logged out. You can 
		<a href = '{% url "account:login" %}' style="color: green; text-decoration: none; ">login-again</a>
	</p>
</div>
{% endblock %}