{% extends 'base.html' %}

{% block title %}Confirm{% endblock %}

{% block content %}
<div class = 'message'>
	{% if validlink %}
		<p style = 'font-size: 25px; border-bottom: 1px solid grey; padding-bottom: 10px'>Please enter your password twice:</p>
		<form method = 'post'>
			{% for i in form %}
				<p>{{i.label_tag}}</p>
				<p>{{i}}</p>
			{% endfor %}
			{% csrf_token %}
			<input type="submit" value = 'CHANGE PASSWORD' class = 'button123' style = 'width: 200px; margin-left: 60px; margin-top: 40px;'>
			<input type = 'hidden' name = 'next' value="{{next}}">
		</form>
	{% else %}
		<p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
	{% endif %}
</div>
{% endblock %}